.app_dark_theme {
  --bg-color: #060648;
  --inverted-bg-color: #d7d7d7;
  --primary-color: #afc0ff;
  --secondary-color: #2d07ab;
  --inverted-primary-color: #313dff;
  --inverted-secondary-color: #6707ab;

  // skeleton
  --skeleton-color: #154e73;
  --skeleton-shadow: #2b2e78;

  // code
  --code-bg: #0d0d96;
}
