.app_dark_theme {
  --bg-color: #060648;
  --inverted-bg-color: #d7d7d7;
  --primary-color: #afc0ff;
  --secondary-color: #4b6920;
  --inverted-primary-color: #1a408a;
  --inverted-secondary-color: #1f4b60;
}
