.app_green_theme {
  --bg-color: #a9c3ab;
  --inverted-bg-color: #29742f;
  --primary-color: #f2f3f2;
  --secondary-color: #2c7d68;
  --inverted-primary-color: #f2f3f2;
  --inverted-secondary-color: #1aa800;

  // skeleton
  --skeleton-color: #087c1b;
  --skeleton-shadow: #324616;

  // code
  --code-bg: #fff;

  // card
  --card-bg: #86a18a;

  // list-box
  --listbox-bg: #86a18a;
}
