.ProfilePageHeader {
  display: flex;
  margin-bottom: 15px;

  .editBtn {
    margin-left: auto;
    margin-right: 10px;
  }

  .saveBtn {
    margin-left: auto;
  }
}

.btnWrapper {
  margin-left: auto;
}
